<head>
	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Passero+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

	<!-- Libraries Stylesheet -->
	<link href="/lib/animate/animate.min.css" rel="stylesheet">
	<link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
</head>

<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.3s">
	<div class="container-fluid text-center py-5">
		<h1 class="display-3 text-white mb-4 animated slideInDown">Mais saúde para suas plantas</h1>
		<h1 class="display-3 text-white mb-4 animated slideInDown">Menos preocupação para você.</h1>
		<nav aria-label="breadcrumb animated slideInDown">
		</nav>
	</div>
</div>

<section id="services" class="services section">

	<div class="text-center mx-auto section-title wow fadeInDown" data-wow-delay="0.3s">
		<p class="fs-5 fw-bold text-success ">SERVIÇOS</p>
		<div class="text-center">
			<div style="display: inline-block; text-align: center;">
					<h1 class="text-white ">Tecnologia de umidade que trabalha por você.</h1>
			</div>
		</div>
	</div>

	<div class="content">
		<div class="container">
			<div class="row g-0">
				<div class="col-lg-3 col-md-6">
					<div class="service-item wow fadeInLeft" data-wow-delay="0.5s">
						<span class="number">01</span>
						<div class="service-item-icon">
							<svg xmlns="http://www.w3.org/2000/svg" height="80" width="80" viewBox="0 0 24 24" fill="currentColor">
								<path d="M12 4a9 9 0 0 0-9 9c0 1.78.52 3.43 1.41 4.82l-1.57 1.57a.996.996 0 1 0 1.41 1.41l1.57-1.57A9 9 0 1 0 12 4zm0 16a7 7 0 1 1 7-7 7.008 7.008 0 0 1-7 7zm1-7V7h-2v6h6v-2h-4z" />
							</svg>
						</div>
						<div class="service-item-content">
							<h3 class="service-heading">Medição em Tempo Real</h3>
							<p>
								Acompanhe temperatura e umidade do ambiente com dados precisos e atualizações instantâneas, diretamente do sensor para você.
							</p>
						</div>
					</div>
				</div>



				<div class="col-lg-3 col-md-6">
					<div class="service-item wow fadeInLeft" data-wow-delay="0.5s">
						<span class="number">02</span>
						<div class="service-item-icon">
							<svg width="80" height="80" viewBox="0 -57 626 626" xmlns="http://www.w3.org/2000/svg">
								<title>wifi</title>
								<path d="M64 166Q115 115 180 89 244 63 313 63 382 63 447 89 511 115 562 166L528 200Q484 156 429 134 373 111 313 111 253 111 197 134 141 156 98 200L64 166ZM132 234Q169 197 216 178 263 159 313 159 363 159 410 178 457 197 494 234L460 268Q430 238 392 223 354 207 313 207 272 207 234 223 195 238 166 268L132 234ZM200 302Q223 279 252 267 281 255 313 255 345 255 374 267 403 279 426 302L392 335Q376 319 355 311 334 303 313 303 291 303 271 311 250 319 234 335L200 302ZM267 369Q287 351 313 351 339 351 358 369L313 415 267 369Z" />
							</svg>
						</div>
						<div class="service-item-content">
							<h3 class="service-heading">Conexão Inteligente</h3>
							<p>
								Conecte seus sensores à nuvem com estabilidade e praticidade via Wi-Fi, garantindo acesso remoto às informações em tempo real.
							</p>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-md-6">
					<div class="service-item wow fadeInRight" data-wow-delay="0.5s">
						<span class="number">03</span>
						<div class="service-item-icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24" fill="none" stroke="#2c3e50" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z" />
								<path d="M12 8l-1.5 3h3L12 14l1.5-3h-3L12 8z" />
							</svg>
						</div>
						<div class="service-item-content">
							<h3 class="service-heading">Resistência e Durabilidade</h3>
							<p>
								Projetado para resistir às condições mais exigentes, garantimos durabilidade prolongada e desempenho em qualquer solo.
							</p>

						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="service-item wow fadeInRight" data-wow-delay="0.5s">
						<span class="number">04</span>
						<div class="service-item-icon">

							<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 32 32" xml:space="preserve">

							<path d="M28,17v-2H17v-2.052C23.289,12.418,25,6.96,25,4V3h-1c-4.416,0-6.814,2.266-8,4.729
								  C14.814,5.266,12.416,3,8,3H7v1c0,2.96,1.711,8.418,8,8.948V15H4v2h11v3.285c-1.474,0.78-3,3.009-3,4.715c0,2.206,1.794,4,4,4
								  s4-1.794,4-4c0-1.706-1.526-3.935-3-4.715V17H28z M22.898,5.062c-0.291,1.821-1.42,5.367-5.797,5.877
								  C17.393,9.118,18.521,5.572,22.898,5.062z M9.101,5.062c4.377,0.51,5.507,4.056,5.798,5.877C10.521,10.428,9.392,6.881,9.101,5.062z
								  M16,27c-1.103,0-2-0.897-2-2c0-1.124,1.484-2.873,1.953-3.004C16.516,22.127,18,23.876,18,25C18,26.103,17.103,27,16,27z" />
							 </svg>
						</div>
						<div class="service-item-content">
							<h3 class="service-heading">Sustentável</h3>
							<p>
								Nosso sensor inteligente promove o uso consciente dos recursos naturais, unindo tecnologia e sustentabilidade no cuidado com as plantas.
							</p>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-md-6">
					<div class="service-item wow fadeInLeft" data-wow-delay="0.5s">
						<span class="number">05</span>
						<div class="service-item-icon">
							<svg width="80" height="80" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" id="icons">
								<path class="cls-1" d="M57.56,11.35l-25-7.26a2,2,0,0,0-1.14,0h0l-25,7.27A2,2,0,0,0,5,13.27V35.1c0,19,25.43,25.57,26.52,25.84A2,2,0,0,0,32,61a1.77,1.77,0,0,0,.52-.07C34.08,60.54,59,53.92,59,35.1V13.27A2,2,0,0,0,57.56,11.35ZM55,35.1C55,49.7,35.36,56,32,56.93,28.64,56,9,49.73,9,35.1V14.78l23-6.7,23,6.7Z" />
								<path class="cls-1" d="M30,20v2.09A6,6,0,0,0,31,34h3a2,2,0,0,1,0,4H28a2,2,0,0,0,0,4h2v2a2,2,0,0,0,4,0V42a6,6,0,0,0,0-12H31a2,2,0,0,1,0-4h6a2,2,0,0,0,0-4H34V20a2,2,0,0,0-4,0Z" />
							</svg>
						</div>
						<div class="service-item-content">
							<h3 class="service-heading">Garantia e suporte</h3>
							<p>
								Oferecemos garantia completa e suporte rápido para resolver qualquer problema com eficiência e tranquilidade.
							</p>
						</div>
					</div>
				</div>


				<div class="col-lg-3 col-md-6">
					<div class="service-item wow fadeInLeft" data-wow-delay="0.5s">
						<span class="number">06</span>
						<div class="service-item-icon">
							<svg fill="#000000" width="80px" height="80px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="M22,7.82a1.25,1.25,0,0,0,0-.19v0h0l-2-5A1,1,0,0,0,19,2H5a1,1,0,0,0-.93.63l-2,5h0v0a1.25,1.25,0,0,0,0,.19A.58.58,0,0,0,2,8H2V8a4,4,0,0,0,2,3.4V21a1,1,0,0,0,1,1H19a1,1,0,0,0,1-1V11.44A4,4,0,0,0,22,8V8h0A.58.58,0,0,0,22,7.82ZM13,20H11V16h2Zm5,0H15V15a1,1,0,0,0-1-1H10a1,1,0,0,0-1,1v5H6V12a4,4,0,0,0,3-1.38,4,4,0,0,0,6,0A4,4,0,0,0,18,12Zm0-10a2,2,0,0,1-2-2,1,1,0,0,0-2,0,2,2,0,0,1-4,0A1,1,0,0,0,8,8a2,2,0,0,1-4,.15L5.68,4H18.32L20,8.15A2,2,0,0,1,18,10Z" />
							</svg>
						</div>
						<div class="service-item-content">
							<h3 class="service-heading">Indicados</h3>
							<p>
								Nosso produto foi desenvolvido para atender a todos, independentemente da idade, estilo ou necessidade. Seja você lojista ou amantes de plantas.
							</p>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="service-item wow fadeInRight" data-wow-delay="0.5s">
						<span class="number">07</span>
						<div class="service-item-icon">
							<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
								 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 viewBox="0 0 426.069 426.069" xml:space="preserve"
								 style="enable-background:new 0 0 426.069 426.069; width: 80px; height: 80px;">
								<g>
									<g>
										<g>
											<path d="M213.034,384.173c-1.311,0-2.6-0.54-3.54-1.47c-0.931-0.93-1.46-2.22-1.46-3.53c0-1.32,0.529-2.61,1.46-3.54
													c0.94-0.93,2.22-1.47,3.54-1.47s2.609,0.54,3.529,1.47c0.94,0.93,1.471,2.22,1.471,3.54c0,1.311-0.53,2.601-1.471,3.53
													C215.634,383.633,214.355,384.173,213.034,384.173z" />
										</g>
										<g>
											<path d="M213.034,407.953c-1.32,0-2.61-0.53-3.54-1.46c-0.92-0.931-1.46-2.22-1.46-3.54c0-1.32,0.54-2.61,1.47-3.53
													c0.92-0.93,2.21-1.47,3.53-1.47s2.609,0.54,3.54,1.47c0.93,0.92,1.46,2.21,1.46,3.53c0,1.32-0.53,2.609-1.46,3.54
													C215.644,407.423,214.355,407.953,213.034,407.953z" />
										</g>
									</g>
									<g>
										<g>
											<path d="M177.474,396.063c-1.32,0-2.609-0.529-3.539-1.47c-0.931-0.93-1.461-2.22-1.461-3.53c0-1.319,0.53-2.609,1.461-3.539
													c0.93-0.931,2.219-1.461,3.539-1.461c1.311,0,2.6,0.53,3.53,1.461c0.931,0.93,1.47,2.22,1.47,3.539c0,1.31-0.539,2.601-1.47,3.53
													C180.074,395.534,178.794,396.063,177.474,396.063z" />
										</g>
										<g>
											<path d="M248.595,396.063c-1.32,0-2.6-0.529-3.541-1.47c-0.93-0.93-1.459-2.22-1.459-3.53c0-1.319,0.529-2.609,1.469-3.539
													c0.931-0.931,2.211-1.461,3.531-1.461c1.319,0,2.609,0.53,3.539,1.461c0.93,0.93,1.461,2.22,1.461,3.539
													c0,1.31-0.531,2.601-1.461,3.53C251.204,395.534,249.914,396.063,248.595,396.063z" />
										</g>
									</g>
										<path d="M338.39,419.187c-7.701-18.957-24.273-35.967-46.664-47.895c-21.449-11.426-46.833-17.774-73.691-18.476v-68.249
											l14.207-13.611c1.388,0.117,3.28,0.225,5.557,0.225c8.423,0,24.712-1.543,39.17-11.881c17.102-12.228,26.797-32.753,28.814-61.006
											c0.1-1.385-0.382-2.748-1.328-3.764c-0.945-1.016-2.272-1.593-3.658-1.593c-0.001,0-0.001,0-0.002,0
											c-1.681,0-41.416,0.291-62.905,24.903c-10.419,11.934-14.667,27.404-12.674,45.999l-7.18,6.879V182.82l13.837-13.147
											c1.378,0.115,3.256,0.222,5.517,0.222c0.002,0,0.001,0,0.002,0c8.43,0,24.733-1.544,39.215-11.876
											c17.147-12.236,26.865-32.779,28.886-61.06c0.099-1.386-0.383-2.749-1.329-3.766c-0.946-1.015-2.271-1.591-3.658-1.591h-0.004
											c-1.684,0.002-41.468,0.319-62.971,24.965c-10.415,11.936-14.662,27.399-12.675,45.979l-6.819,6.479V99.253
											c13.487-9.059,21.295-20.61,23.211-34.376c4.334-31.152-23.436-61.954-24.619-63.25c-0.977-1.068-2.374-1.67-3.813-1.625
											c-1.447,0.035-2.807,0.694-3.729,1.809c-19.701,23.784-27.692,45.714-23.753,65.18c3.722,18.382,17.015,28.794,22.703,32.495
											v69.539l-6.819-6.48c1.987-18.578-2.26-34.042-12.674-45.977c-21.503-24.646-61.288-24.963-62.971-24.965h-0.005
											c-1.387,0-2.711,0.576-3.657,1.591c-0.946,1.017-1.429,2.38-1.329,3.766c2.02,28.28,11.738,48.823,28.886,61.06
											c14.481,10.333,30.786,11.876,39.216,11.876c2.261,0,4.139-0.106,5.517-0.222l13.837,13.147v87.899l-7.179-6.878
											c1.992-18.595-2.255-34.065-12.674-45.999c-21.49-24.612-61.225-24.903-62.906-24.903h-0.001c-1.388,0-2.714,0.577-3.659,1.593
											c-0.945,1.016-1.427,2.379-1.328,3.764c2.018,28.253,11.713,48.778,28.814,61.006c14.459,10.338,30.748,11.881,39.17,11.881
											c2.277,0,4.17-0.108,5.558-0.225l14.206,13.61v68.25c-26.858,0.701-52.242,7.05-73.691,18.476
											c-22.391,11.928-38.963,28.938-46.664,47.895c-0.626,1.542-0.444,3.294,0.484,4.674c0.93,1.381,2.484,2.208,4.148,2.208h241.445
											c1.664,0,3.219-0.827,4.148-2.208C338.834,422.481,339.016,420.729,338.39,419.187z M245.394,224.45
											c14.141-16.226,38.901-20.215,49.887-21.194c-5.347,46.247-33.238,56.436-52.665,57.763l30.263-28.993
											c1.994-1.91,2.061-5.075,0.151-7.069c-1.91-1.995-5.076-2.063-7.069-0.151l-31.216,29.905
											C234.855,242.616,238.411,232.462,245.394,224.45z M245.035,123.173c14.151-16.251,38.945-20.262,49.948-21.25
											c-5.534,47.199-35.436,56.439-52.616,57.775l30.517-28.995c2.002-1.902,2.083-5.067,0.181-7.069c-1.901-2-5.065-2.082-7.068-0.181
											l-31.61,30.035C234.486,141.374,238.042,131.202,245.035,123.173z M160.073,123.453c-2.002-1.9-5.166-1.82-7.068,0.181
											c-1.902,2.002-1.822,5.167,0.18,7.069l30.516,28.995c-17.181-1.337-47.081-10.586-52.616-57.784
											c10.982,0.972,35.719,4.95,49.921,21.226c7.011,8.035,10.577,18.217,10.677,30.347L160.073,123.453z M160.109,224.804
											c-1.994-1.909-5.158-1.844-7.07,0.151c-1.91,1.994-1.842,5.159,0.152,7.069l30.263,28.993
											c-19.428-1.326-47.322-11.516-52.665-57.771c10.967,0.963,35.67,4.921,49.859,21.172c7.002,8.019,10.568,18.182,10.677,30.292
											L160.109,224.804z M195.133,65.007c-3.063-15.134,2.942-32.627,17.855-52.06c7.015,9.117,21.171,30.406,18.348,50.581
											c-1.234,8.822-5.705,16.584-13.302,23.172V56.768c0-2.762-2.238-5-5-5s-5,2.238-5,5v30.118
											C203.146,82.483,197.211,75.275,195.133,65.007z M100.227,416.069c17.45-31.73,62.417-53.322,112.808-53.322
											s95.357,21.592,112.808,53.322H100.227z" />
								</g>
							</svg>
						</div>
						<div class="service-item-content">
							<h3 class="service-heading">Embalagem Biodegradável</h3>
							<p>
								Feita com materiais orgânicos, a embalagem biodegradável segue a vida útil do sensor, garantindo proteção e descarte consciente.
							</p>
						</div>

					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="service-item wow fadeInRight" data-wow-delay="0.5s">
						<span class="number">08</span>
						<div class="service-item-icon">
							<svg version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
								 width="80px" height="80px" viewBox="0 0 32 32" xml:space="preserve">
								<path class="blueprint_een" d="M8,9H4v3h4V9z M7,11H5v-1h2V11z M8,13H4v3h4V13z M7,15H5v-1h2V15z M6,17c-1.657,0-3,1.343-3,3
											s1.343,3,3,3s3-1.343,3-3S7.657,17,6,17z M6,22c-1.103,0-2-0.897-2-2c0-1.103,0.897-2,2-2s2,0.897,2,2C8,21.103,7.103,22,6,22z
											M21.646,11.646l0.707,0.707l-2,2l-0.707-0.707L21.646,11.646z M31,4h-1.586l-1.707-1.707c-0.391-0.391-1.023-0.391-1.414,0
											L24.586,4H1C0.448,4,0,4.448,0,5v22c0,0.552,0.448,1,1,1h30c0.552,0,1-0.448,1-1V5C32,4.448,31.552,4,31,4z M16,14v4h4l8-8v13H11V9
											h10L16,14z M17,14.707L19.293,17H17V14.707z M20.146,16.439l-2.586-2.586L27,4.414L29.586,7L20.146,16.439z M2,26V6h22l-2,2H10v16
											h19V9l1-1v18H2z" />
							</svg>
						</div>
						<div class="service-item-content">
							<h3 class="service-heading">Design Intuitivo</h3>
							<p>
								Navegar nunca foi tão simples. Nosso design foi pensado para ser claro, direto e agradável aos olhos, tornando a experiência agradavel.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="about" class="about section">
	<div class="content">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 mb-4 mb-lg-0 wow fadeInLeft" data-wow-delay="0.3s">
					<img src="/Images/products/about/img_long_5.jpg" alt="Image " class="img-fluid img-overlap" style="display: block; margin-bottom: 0;">
				</div>

				<div class="col-lg-5 ml-auto wow fadeInRight" data-wow-delay="0.5s">
					<h3 class="content-subtitle text-white opacity-50">Por que nos escolher.</h3>
					<h2 class="content-title mb-4">
						Nosso <strong>Sensor Inteligente</strong> de Umidade e Temperatura do Solo
					</h2>
					<p class="opacity-50">
						Cada planta merece cuidado preciso e você merece praticidade!
					</p>
					<p class="opacity-50">
						Com tecnologia profissional de estufas, ele realiza medições <strong>ultraprecisas</strong> e se adapta automaticamente a qualquer solo.
					</p>
					<p class="opacity-50">
						O sensor envia <strong>alertas direto no celular</strong> quando sua planta precisa de atenção.
					</p>
					<p class="opacity-50">
						Resistente à água (<strong>IP68</strong>), com suporte a <strong>pilhas ou bateriais</strong> e cabo ultra-reforçado, ele foi feito para durar!
					</p>
					<p class="opacity-50">
						Mais de 10.000 jardineiros satisfeitos. Teste por 30 dias com garantia de reembolso total.
					</p>

					<div class="row my-5">
						<div class="col-lg-12 d-flex align-items-start mb-4 wow fadeInUp" data-wow-delay="0.6s">
							<i class="bi bi-cloud-rain me-4 display-6"></i>
							<div>
								<h4 class="m-0 h5 text-white">Precisão Profissional</h4>
								<p class="text-white opacity-50">Tecnologia de estufas comerciais com calibração automática.</p>
							</div>
						</div>
						<div class="col-lg-12 d-flex align-items-start mb-4 wow fadeInUp" data-wow-delay="0.7s">
							<i class="bi bi-phone me-4 display-6"></i>
							<div>
								<h4 class="m-0 h5 text-white">App Inteligente</h4>
								<p class="text-white opacity-50">Alertas em tempo real e histórico acessível offline ou online.</p>
							</div>
						</div>
						<div class="col-lg-12 d-flex align-items-start wow fadeInUp" data-wow-delay="0.8s">
							<i class="bi bi-shield-check me-4 display-6"></i>
							<div>
								<h4 class="m-0 h5 text-white">Feito para Durar</h4>
								<p class="text-white opacity-50">IP68, bateria de longa duração e componentes resistentes.</p>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>

<section id="materiais" class="materiais section py-5 wow fadeInLeft">
	<div class="container">
		<div class="text-center mb-4">
			<h2 class="content-title">Materiais Utilizados no Projeto</h2>
			<p class="opacity-50">Conheça os componentes que tornam nosso sensor inteligente possível.</p>
		</div>

		<div id="carouselMateriais" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<!-- Slide 1 -->
				<div class="carousel-item active">
					<div class="row text-center">
						<div class="col-md-4">
							<img src="/Images/products/about/materials/esp8266.jpg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 1">
						</div>
						<div class="col-md-4">
							<img src="/Images/products/about/materials/protoboard.jpg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 2">
						</div>
						<div class="col-md-4">
							<img src="/Images/products/about/materials/jumpers.jpg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 3">
						</div>
					</div>
				</div>

				<!-- Slide 2 -->
				<div class="carousel-item">
					<div class="row text-center">
						<div class="col-md-4">
							<img src="/Images/products/about/materials/soilsensor.jpg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 4">
						</div>
						<div class="col-md-4">
							<img src="/Images/products/about/materials/ds18b20.jpg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 5">
						</div>
						<div class="col-md-4">
							<img src="/Images/products/about/materials/resistor.jpg" class="d-block w-100 rounded" style="height: 200px; object-fit: cover;" alt="Material 6">
						</div>
					</div>
				</div>

				<!-- Slide 3 -->
				<div class="carousel-item">
					<div class="row text-center">
						<div class="col-md-4">
							<img src="/Images/products/about/materials/rele.jpg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 4">
						</div>
						<div class="col-md-4">
							<img src="/Images/products/about/materials/papel.jpg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 5">
						</div>
						<div class="col-md-4">
							<img src="/Images/products/about/materials/casePilha.jpeg" class="d-block w-100 rounded" style="height: 200px; object-fit: cover;" alt="Material 6">
						</div>
					</div>
				</div>
			
			       <!-- Slide 4 -->
				<div class="carousel-item">
					<div class="row text-center">
						<div class="col-md-4">
							<img src="/Images/products/about/materials/minibomba.jpeg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 4">
						</div>
						<div class="col-md-4">
							<img src="/Images/products/about/materials/mangueira.jpg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 5">
						</div>
						<div class="col-md-4">
							<img src="/Images/products/about/materials/smile.jpg" class="d-block w-100 rounded" style="height: 200px;" alt="Material 6">
						</div>
					</div>
				</div>
			</div>
		

			<!-- Controles -->
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselMateriais" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Anterior</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselMateriais" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Próximo</span>
			</button>
	

		<!-- Indicadores abaixo do carrossel -->
			<div class="text-center mt-4">
				<div class="carousel-indicators-custom">
					<button type="button" data-bs-target="#carouselMateriais" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselMateriais" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselMateriais" data-bs-slide-to="2" aria-label="Slide 3"></button>
					<button type="button" data-bs-target="#carouselMateriais" data-bs-slide-to="3" aria-label="Slide 4"></button>
				</div>
			</div>
		</div>
	</div>
</section>





<style>
	h1, .h1,
	h2, .h2,
	.fw-bold {
		font-weight: 700 !important;
		font-family: 'Jost', sans-serif !important;
	}

	h3, .h3,
	h4, .h4,
	.fw-medium {
		font-weight: 600 !important;
		font-family: 'Jost', sans-serif !important;
	}

	h5, .h5,
	h6, .h6,
	.fw-semi-bold {
		font-weight: 500 !important;
		font-family: 'Jost', sans-serif !important;
	}

	:root {
		--primary: #116530;
		--secondary: #525368;
		--light: #ffffff;
		--dark: #0F4229;
	}

	.page-header {
		position: relative;
		color: white;
		overflow: hidden;
		background-image: url('/Images/products/about/backAbout.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 600px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		margin-left: calc(-50vw + 50%);
	}

		.page-header::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 150px; 
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
			pointer-events: none;
		}

		.page-header .breadcrumb-item,
		.page-header .breadcrumb-item a {
			font-size: 18px;
			color: var(--light);
		}

	.section-title {
		text-align: center;
		margin-bottom: 60px;
		color: var(--secondary);
	}

		.section-title h1 {
			color: var(--secondary) !important;
		}

	.services .content .service-item {
		background-color: var(--light);
		padding: 20px 30px;
		border: 1px solid #f9f9f9;
		position: relative;
		transition: all 0.3s ease;
	}

		.services .content .service-item:hover {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}

		.services .content .service-item .service-item-icon {
			position: relative;
			margin-bottom: 20px;
			color: black;
		}

			.services .content .service-item .service-item-icon img {
				width: 50px;
			}

		.services .content .service-item .service-item-content .service-heading {
			font-size: 20px;
			color: var(--secondary);
			font-weight: 400;
		}

		.services .content .service-item .service-item-content p {
			font-size: 15px;
		}

		.services .content .service-item .number {
			position: absolute;
			right: 10px;
			top: 10px;
			font-weight: 400;
			color: rgba(0, 0, 0, 0.5);
		}

		.services .content .service-item:hover {
			transform: translateY(-5px);
		}

	.about .section-title {
		margin-bottom: 60px;

	}

	.about {
		margin-top: 80px;
		width: 100vw;
		margin-left: calc(-50vw + 50%);

	}

		.about .content {
			background: var(--primary);
			color: var(--light);
			padding: 7rem 0;
			width: 100vw;
			margin-left: calc(-50vw + 50%);
			padding-left: 0;
			padding-right: 0;
			min-height: 100vh;

		}

			.about .content .img-overlap {
				margin-top: -150px;
			}

		.about p {
			color: var(--light);
		}

		.about .content-title {
			color: var(--light);
			font-weight: 300;
			text-align: left;
		}

			.about .content-title strong {
				font-weight: 700;
			}

		.about .content-subtitle {
			font-weight: 300;
			color: var(--light);
			text-transform: uppercase;
			font-size: 1.3rem;
		}


	.carousel-indicators-custom {
		display: flex;
		justify-content: center;
		gap: 10px;
	}

		.carousel-indicators-custom button {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			border: none;
			background-color: black;
			opacity: 0.4;
			transition: opacity 0.3s ease;
		}

			.carousel-indicators-custom button.active {
				opacity: 1;
				background-color: black;
			}

	#carouselMateriais {
		position: relative;
	}

		#carouselMateriais .carousel-control-prev,
		#carouselMateriais .carousel-control-next {
			top: 45%;
			transform: translateY(-50%);
			width: 5%;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		#carouselMateriais:hover .carousel-control-prev,
		#carouselMateriais:hover .carousel-control-next {
			opacity: 1;
		}


	@@media (max-width: 768px) {
		.wow{
			visibility: visible !important;
			animation: none !important;
			opacity: 1 !important;
			transform: none !important;
		}
	}

</style>

<script>
	(function ($) {
		"use strict";
		if (typeof WOW === "function") {
			new WOW().init();
		}
	})(jQuery);

		document.addEventListener('DOMContentLoaded', function () {
		const carousel = document.querySelector('#carouselMateriais');
		const indicators = document.querySelectorAll('.carousel-indicators-custom button');

		// Atualiza a bolinha ativa quando o slide muda
		carousel.addEventListener('slid.bs.carousel', function (event) {
			indicators.forEach((btn, index) => {
				btn.classList.toggle('active', index === event.to);
			});
		});

		// Permite clicar nas bolinhas para trocar de slide
		indicators.forEach((btn, index) => {
			btn.addEventListener('click', () => {
				const bsCarousel = bootstrap.Carousel.getInstance(carousel);
				bsCarousel.to(index);
			});
		});
	});
</script>
