<head>
	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Passero+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- Libraries Stylesheet -->
	<link href="/lib/animate/animate.min.css" rel="stylesheet">
	<link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

</head>

<!-- Page Header -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container-fluid text-center py-5">
		<h1 class="display-3 text-white mb-4 animated slideInDown">Sobre nós</h1>
		<nav aria-label="breadcrumb animated slideInDown">
		</nav>
	</div>
</div>

<!-- About Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="row g-5 align-items-end">
			<div class="col-lg-3 col-md-5 wow fadeInUp" data-wow-delay="0.3s">
				<img class="img-fluid rounded" data-wow-delay="0.1s" src="~/Images/about/page/about-2.jpeg">
			</div>
			<div class="col-lg-6 col-md-7 wow fadeInUp" data-wow-delay="0.3s">
				<h1 class="display-1 mb-0" style="font-weight:500">60</h1>
				<p class="text-primary mb-4">Anos de Experiência</p>
				<h1 class="display-5 mb-4">Seu jardim, nosso lar</h1>
				<p class="mb-4">
					Somos um grupo de alunos da Faculdade Estácio, unidos pelo interesse em desenvolver soluções tecnológicas 
					inovadoras que impactem positivamente o cotidiano das pessoas. 
					<p>Este projeto nasceu com o objetivo de criar 
					uma solução inteligente para o monitoramento de plantas e controle de irrigação, utilizando sensores 
					de umidade para garantir o cuidado ideal das plantas, de forma prática e eficiente.
					</p>
				</p>
			</div>
			<div class="col-lg-3 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
				<div class="row g-5">
					<div class="col-12 col-sm-6 col-lg-12">
						<div class="border-start ps-4">
							<i class="fa fa-award fa-3x text-primary mb-3"></i>
							<h4 class="mb-3">Premiados</h4>
							<span>Melhor grupo sobre cuidados de plantas da classe.</span>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-12">
						<div class="border-start ps-4">
							<i class="fa fa-users fa-3x text-primary mb-3"></i>
							<h4 class="mb-3">Equipe Dedicada</h4>
							<span>
								Somos uma equipe qualificada que une tecnologia, engenharia e design para criar soluções inovadoras,
								sustentáveis e funcionais, promovendo o uso consciente da tecnologia.
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Facts Start -->
<div class="container-fluid facts my-5 py-5" data-parallax="scroll">
	<div class="container py-5">
		<div class="row g-5">
			<div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
				<h1 class="display-4 text-white" data-toggle="counter-up">0006</h1>
				<span class="fs-5 fw-semi-bold text-light">Clientes satisfeitos</span>
			</div>
			<div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
				<h1 class="display-4 text-white" data-toggle="counter-up">0005</h1>
				<span class="fs-5 fw-semi-bold text-light">Jardins concluídos</span>
			</div>
			<div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
				<h1 class="display-4 text-white" data-toggle="counter-up">0004</h1>
				<span class="fs-5 fw-semi-bold text-light">Equipe dedicada</span>
			</div>
			<div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
				<h1 class="display-4 text-white" data-toggle="counter-up">0001</h1>
				<span class="fs-5 fw-semi-bold text-light">Prêmios conquistados</span>
			</div>
		</div>
	</div>
</div>

<!-- Team Start -->
<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
			<p class="fs-5 fw-bold text-primary">Nosso Time</p>
			<div class="text-center">
				<div style="display: inline-block; text-align: center;">
					<div><h1>Membros da equipe</h1></div>
					<div style="white-space: nowrap;"><h1>Dedicados & Experientes</h1></div>
				</div>
			</div>
		</div>
		<div class="row g-4 mt-3">
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
				<div class="team-item rounded">
					<img class="img-fluid" src="/Images/about/Team/Davi.jpeg" alt="">
					<div class="team-text">
						<h4 class="mb-0">Davi da Costa</h4>
						<p class="text-primary">Landscape Designer</p>
						<div class="team-social d-flex">
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
				<div class="team-item rounded">
					<img class="img-fluid" src="/Images/about/Team/João.png" alt="">
					<div class="team-text">
						<h4 class="mb-0">João Pedro</h4>
						<p class="text-primary">Garden Designer</p>
						<div class="team-social d-flex">
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
				<div class="team-item rounded">
					<img class="img-fluid" src="/Images/about/Team/Maciel.png" alt="">
					<div class="team-text">
						<h4 class="mb-0">Matheus Maciel</h4>
						<p class="text-primary">Senior Gardener</p>
						<div class="team-social d-flex">
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
				<div class="team-item rounded">
					<img class="img-fluid" src="/Images/about/Team/Gabriel.png" alt="">
					<div class="team-text">
						<h4 class="mb-0">Gabriel da Cunha</h4>
						<p class="text-primary">Plant Specialist</p>
						<div class="team-social d-flex">
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
							<a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
				<p class="fs-5 fw-bold text-primary">Nossos Patrocinadores</p>

				<div class="text-center">
					<div style="display: inline-block; text-align: center;">
						<div style="white-space: nowrap;"><h1>Apoio de Qualidade</h1></div>
					</div>
				</div>
			</div>

			<div id="sponsorsCarousel" class="carousel slide mt-4" data-bs-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="row g-0 justify-content-center">
							<!-- Patrocinador 1 a 4 -->
							<div class="col-6 col-sm-4 col-md-3 col-lg-2">
								<div class="sponsor-logo">
									<img src="/Images/About/partners/estacio.jpg" alt="Patrocinador 1" />
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-lg-2">
								<div class="sponsor-logo">
									<img src="/Images/About/partners/estacio.jpg" alt="Patrocinador 2" />
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-lg-2">
								<div class="sponsor-logo">
									
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-lg-2">
								<div class="sponsor-logo"></div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="row g-4 justify-content-center">
							<!-- Patrocinador 5 a 8 -->
							<div class="col-6 col-sm-4 col-md-3 col-lg-2">
								<div class="sponsor-logo">
									<img src="/Images/About/partners/estacio.jpg" alt="Patrocinador 5" />
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-lg-2">
								<div class="sponsor-logo">
									<img src="/Images/About/partners/estacio.jpg" alt="Patrocinador 6" />
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-lg-2">
								<div class="sponsor-logo">
									<img src="/Images/About/partners/estacio.jpg" alt="Patrocinador 7" />
								</div>
							</div>
							<div class="col-6 col-sm-4 col-md-3 col-lg-2">
								<div class="sponsor-logo">
									<img src="/Images/About/partners/estacio.jpg" alt="Patrocinador 8" />
								</div>
							</div>
						</div>
					</div>
				</div>

				
				<div class="carousel-indicators mt-4 position-static justify-content-center">
					<button type="button" data-bs-target="#sponsorsCarousel" data-bs-slide-to="0" class="active rounded-circle" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#sponsorsCarousel" data-bs-slide-to="1" class="rounded-circle" aria-label="Slide 2"></button>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
	
	h1, .h1,
	h2, .h2,
	.fw-bold {
		font-weight: 700 !important;
		font-family: 'Jost', sans-serif !important;
	}

	h3, .h3,
	h4, .h4,
	.fw-medium {
		font-weight: 600 !important;
		font-family: 'Jost', sans-serif !important;
	}

	h5, .h5,
	h6, .h6,
	.fw-semi-bold {
		font-weight: 500 !important;
		font-family: 'Jost', sans-serif !important;
	}

	:root {
		--primary: #348E38;
		--secondary: #525368;
		--light: #E8F5E9;
		--dark: #0F4229;
	}

	.page-header {
		position:relative;
		color:white;
		overflow:hidden;

		background-image: url('/Images/about/page/background.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		min-height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw; 
		margin-left: calc(-50vw + 50%); 
	}

		.page-header::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 150px; /* ajuste conforme a suavidade que você quer */
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
			pointer-events: none;
		}

		.page-header .breadcrumb-item,
		.page-header .breadcrumb-item a {
			font-size: 18px;
			color: var(--light) !important;
		}

	/*** Facts & Quote ***/
	.facts {
		background-image: url('/Images/about/page/background.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed; 
		min-height: 150px; 
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw; 
		margin-left: calc(-50vw + 50%); 
	}

		.facts .text-center h1 {
			font-size: 30px;
		}

	/*** Team ***/
	.team-item {
		position: relative;
		overflow: hidden;
		display: flex;
	}

		.team-item img {
			width: 100%;
			max-width: 400px; 
			height: auto; 
			border-radius: 10px; 
			gap: 15px; 
		}

		.team-item .team-text {
			position: absolute;
			width: calc(100% - 45px);
			left: -100%;
			bottom: 45px;
			padding: 1.5rem;
			background: #FFFFFF;
			border-radius: 0 4px 4px 0;
			opacity: 0;
			transition: .5s;
		}

		.team-item:hover .team-text {
			left: 0;
			opacity: 1;
		}

		.team-item .team-social .btn {
			background: var(--light) !important;
			color: var(--primary) !important;
		}

			.team-item .team-social .btn:hover {
				background: var(--primary) !important;
				color: var(--light) !important;
			}

		.team-item .team-img .team-social {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: .5s;
			z-index: 3;
			opacity: 0;
		}

		.team-item:hover .team-img .team-social {
			transition-delay: .3s;
			opacity: 1;
		}

	
	.sponsor-logo {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 2px solid black;
		overflow: hidden;
		margin: auto;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
		display: flex;
		align-items: center;
		justify-content: center;
	}

		.sponsor-logo img {
			width: 100%;
			height: 100%;
			object-fit: cover; 
		}

	.carousel-indicators [data-bs-target] {
		width: 12px;
		height: 12px;
		background-color: #999;
		border: none;
		margin: 0 6px;
		opacity: 0.5;
		transition: opacity 0.3s, background-color 0.3s;
	}

	.carousel-indicators .active {
		opacity: 1;
		background-color: #333;
	}

	.carousel-control-prev,
	.carousel-control-next {
		display: none;
	}

	@@media (max-width: 768px) {
		.wow {
			visibility: visible !important;
			animation: none !important;
			opacity: 1 !important;
			transform: none !important;
		}
	}

</style>
<script>
	(function ($) {
		"use strict";

		
		if (typeof WOW === "function") {
			new WOW().init(); 
		}
	})(jQuery);
</script>

